*{
    margin: 0%;
}
.all-Navigation{
display: flex;
align-items: center;
justify-content: space-between;
box-shadow: 2px 4px 15px #555;
padding: 8px;
}

/* FLEX DIRECTION: Helps to keep a size in shape so it remains fit o differnet devices */
@media(max-width:800px){
    .all-hero{
        flex-direction: column;
        background-color: red; /*when it opens on phone the background should be red*/
    }
}
.nav-logo{
    width: 150px;
}
.nav-right a{
    text-decoration: none;
    color: black;
    Margin: 0 20px; /* the first 0 means 0 margin around, 15px means in between*/
}
.nav-right{
    margin-right: 10%;
}
.last-link{
    background-color: #eb5a4d;
    padding: 10px;
    color: white;
}

/* Hero Section */
.all-hero{
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-left{
    margin-left: 50px;
    width: 50%;
}

.hero-left h2{
    color: rgb(3, 1, 36);
    font-size: 35px;
}
.hero-left h4{
    color: #eb5a4d;
}
.hero-left p{
    color: #555;
    margin-bottom: 20px;
}
.btn a{
    text-decoration: none;
    background-color: #eb5a4d;
    color: white;
    padding: 8px 15px;
}
.btn a:last-child{
    background-color: transparent;
    color: black;
    border: 1px solid #ccc;
}